extends ../layout

block content
  if (sessionUser.nickname)
    h4= sessionUser.nickname
  else
    h4= sessionUser.fullname

  p Su cuenta esta activada
  a(href='/') Entrar












  //- Esta pagina aparece cuando el usuario ingresa desde el email de confirmacion
  //- confirma al usuario que esta verificado
