include mixins/dress_grid
include mixins/pagination
include mixins/form_input
include mixins/head

html
  +head()
  
  body
    .container
      p 0979253803
      p info@neaneo.com

      ul
        li ¿Cómo funciona?
        li Ingresar
        li Favoritos
        li Bolsa de compras

      h2 NEA NEO
      h3 Tu vestido ideal

      ul
        li Vestidos
        li Rentabiliza tu armario
        li Blog
        li Buscar
    .container
      .row
        .col-sm-8
          p Conectamos a mujeres que tienen
          p vestidos en su armario
          p que ya no usan, con quienes están buscando ¡Qué ponerse!
        .col-sm-4
          .panel
            p Crea tu closet
            form(action='' method='post' rol='form')
              +input_readonly('Id', 'text', 'userId', '', errors)
              +input_required('Alias', 'text', 'nickname', null, errors)
              +input_required('Nombre', 'text', 'firstname', null, errors)
              +input_required('Apellido', 'text', 'lastname', null, errors)
              +input_required('Email', 'email', 'email', null, errors)
              +input_required('Fecha de nacimiento', 'date', 'birthdate', null, errors)
              +input_required('Constraseña', 'password', 'password', null, errors)
              +input_required('Confirmar Constraseña', 'password', 'password1', null, null)
              button(type='submit') Registro
              p o
              p Registrarse con facebook

    .container
      .row
        .col-sm-6
          h2 Compra Vestidos
        .col-sm-6
          h2 Vende tus vestisdos
      .row
        .col-sm-6
          h2 Alquila tu vestido
        .col-sm-6
          h2 Pon tus vestidos en alquiler
    
    h2 Beneficios
    p Servicio a domicilio
    p Pruebatelos en tu casa
    p Devolución gratuita por 24 horas
    p Tintorería incluida

    p NEA NEO
    P Tu vestido ideal

    p ¿Quienes somos?
    p ¿Como funciona?
    p Contacto
    p Terminos y Condiciones
    p Politica de Privacidad
    p info@neaneo.com

    //- script(src='/jquery/dist/jquery.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    //- script(src='/bootstrap/dist/js/bootstrap.js')
