extends layout
include mixins/dress_grid
include mixins/pagination

block content
  .container
    p 0979253803
    p info@neaneo.com

    ul
      li ¿Cómo funciona?
      li Ingresar
      li Favoritos
      li Bolsa de compras

    h2 NEA NEO
    h3 Tu vestido ideal

    ul
      li Vestidos
      li Rentabiliza tu armario
      li Blog
      li Buscar
  .container
    .row
      .col-sm-8
        p Conectamos a mujeres que tienen 
        p vestidos en su armario
        p que ya no usan, con quienes están buscando ¡Qué ponerse!
      .col-sm-4
        p Crea tu closet
        p Nombre:
        p Apellido:
        p Fecha de nacimiento:
        p Email:
        p Contraseña:
        p Confirmar contraseña:
        p Registrarse
        p o
        p Registrarse con facebook

  .container
    .row
      .col-sm-6
        h2 Compra Vestidos
      .col-sm-6
        h2 Vende tus vestisdos
    .row
      .col-sm-6
        h2 Alquila tu vestido
      .col-sm-6
        h2 Pon tus vestidos en alquiler
  
  h2 Beneficios
  p Servicio a domicilio
  p Pruebatelos en tu casa
  p Devolución gratuita por 24 horas
  p Tintorería incluida

  p NEA NEO
  P Tu vestido ideal

  p ¿Quienes somos?
  p ¿Como funciona?
  p Contacto
  p Terminos y Condiciones
  p Politica de Privacidad
  p info@neaneo.com
