extends ../layout
include ../mixins/form_input

block content
  .container
    .row
      .row
        .col-sm-6.col-offset-3
          .panel.panel-info
            .panel-heading
              h3 Cambiar contrase単a
              if errors
                each error in errors
                  p.error ERROR. #{error.message}
          .panel-body
            form(method='post' action='/users/pass_change' role='form')
              +input_readonly('Id Usuario', 'text', 'userId', sessionUser.id, null)
              +input_required('Contrase単a Anterior', 'password', 'passOld', '', errors)
              +input_required('Contrase単a', 'password', 'pass1', '', errors)
              +input_required('Repetir Contrase単a', 'password', 'pass2', '', errors)
              button.btn.btn-default(type='submit') Grabar
